.App {
  text-align: center;
  height: 100vh;
}
.container {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.box {
  margin: 0.5rem;
  max-width: 30%;
}
.name {
  color: blue;
  font-size: 20px;
}
span {
  color: grey;
  font-size: 12px;
  text-transform: capitalize;
}
.filter button {
  margin: 2px;
}
